server:
  port: 8080

spring:
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: 6421722014-8nnqo77r774ocnq3nq72khr9u371chck.apps.googleusercontent.com
            client-secret: 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
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
            scope:
              - profile
              - email
        provider:
          google:
            authorization-uri: https://accounts.google.com/o/oauth2/auth
            token-uri: https://oauth2.googleapis.com/token
            user-info-uri: https://www.googleapis.com/oauth2/v3/userinfo
            user-name-attribute: sub

  application:
    name: MyTutor
  
  datasource:
    url: jdbc:mysql://localhost:3306/mytutor
    username: root
    password: "12345"
    driver-class-name: com.mysql.cj.jdbc.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  mail:
    host: smtp.gmail.com
    port: 587
    username: datnguyen.dev.demo@gmail.com
    password: "hvcj bovp bova upce"
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true



