server:
  port: 8080

mytutor:
  jwt:
    base64-secret: aeGhbpAvxQxtq6sXeXxkKNJzDiGB8aFg1Q63rETWHX19P2iHbSUp9CvJamrNYzi+j8nvpOgn55Bn/QyCvHfDzQ==
    # 2 weeks in second
    token-validity-in-second: 1209600
  url:
    client: http://localhost:5173
    confirm: /confirm-payment

vnp:
  payUrl: https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
  tmnCode: 0ZLJX97B
  secretKey: NCG0FJ0JCPETZJBL1BZDMNPUXIEGU6CY
  version: 2.1.0
  apiUrl: https://sandbox.vnpayment.vn/merchant_webapi/api/transaction

momo:
  partnerCode: MOMOBKUN20180529
  accessKey: klm05TvNBzhg7h7j
  secretKey: at67qH6mk8w5Y1nAyMoYKMWACiEi2bsa
  requestType: payWithATM
  apiUrl: https://test-payment.momo.vn/v2/gateway/api/create
  queryApiUrl:  https://test-payment.momo.vn/v2/gateway/api/query

vietcombank:
  exrateApiUrl: https://portal.vietcombank.com.vn/Usercontrols/TVPortal.TyGia/pXML.aspx?b=10

paypal:
  clientId: Aa08pRYw7_O0kHLWeZn9LvmG6OrUdz-p--17dWVCr_OcOFZtM2Esc_GSWk4EAamVYAMllVWO2We9ik3-
  clientSecret: EAeXefNPP9qGyv-A4tZANADbO9RKp358A317v-Fz268tbNIRdg69PqizwUK6y8FWms1eGJD45NBULzuW
  feePercentage: 0.044  # 4.4%
  fixedFee: 0.3         # Fixed fee in USD for international transactions

spring:
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: 6421722014-8nnqo77r774ocnq3nq72khr9u371chck.apps.googleusercontent.com
            client-secret: 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
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
            scope:
              - profile
              - email
        provider:
          google:
            authorization-uri: https://accounts.google.com/o/oauth2/auth
            token-uri: https://oauth2.googleapis.com/token
            user-info-uri: https://www.googleapis.com/oauth2/v3/userinfo
            user-name-attribute: sub

  application:
    name: MyTutor

  datasource:
    url: jdbc:mysql://localhost:3306/mytutor
    username: root
    password: "12345"
    driver-class-name: com.mysql.cj.jdbc.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  mail:
    host: smtp.gmail.com
    port: 587
    username: mytutor.main.official@gmail.com
    password: "eujh laqp dbcq ivbc"
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
